    <h5 class="card-title">
      <strong>TABELA DE PREÇOS</strong>
    </h5>

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Horário</th>
            <th scope="col">Segunda</th>
            <th scope="col">Terça</th>
            <th scope="col">Quarta</th>
            <th scope="col">Quinta</th>
            <th scope="col">Sexta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">8:00 - 11:59</th>
            <td>R$ 2,00</td>
            <td>R$ 2,00</td>
            <td>R$ 2,00</td>
            <td>R$ 2,00</td>
            <td>R$ 2,00</td>
          </tr>
          <tr>
            <th scope="row">12:00 - 18:00</th>
            <td>R$ 3,00</td>
            <td>R$ 3,00</td>
            <td>R$ 3,00</td>
            <td>R$ 3,00</td>
            <td>R$ 3,00</td>
          </tr>
        </tbody>
      </table>
      <p>Aos Sábados, Domingos e Feriádos das 8:00 - 18:00: <strong>R$ 2,50</strong></p>
    </div>